/* src/index.css */

/* This MUST be the first line in the file */
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700&f[]=inter@400&display=swap');

@import "tailwindcss";

/* You can keep or remove the default Vite styles below, Tailwind will override most of them anyway */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #121212;
  color: #EAEAEA;
}